@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Tilt Neon", sans-serif;
}

.background {
height: 100vh;
}

.dark {
    background-color: #272443;
    color: #f3f0f1;
}

html { 
    background-color: #f3f0f1;
    color: #272443;
}

.transparent {
    background-color: transparent;
}